@use '../../../styles/vars';

.home__socialnetworks{
    display: grid;
    grid-template-columns: max-content;
    row-gap: 1rem;
    .home__socialnetwork{
        font-size: 1.75rem;
        color: vars.$primary-color;
        &:hover{
            color: vars.$primary-color-alt;
        }
    }
}
