@use 'reset';
@use 'vars';

/* =============== base =============== */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    scroll-behavior: smooth;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
  margin: 0 0 vars.$header-height 0;
  font-family: vars.$body-font, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  font-size: vars.$normal-font-size;
  background-image: radial-gradient(circle at center center, transparent,rgb(39,35,22)),repeating-linear-gradient(135deg, rgb(39,35,22) 0px, rgb(39,35,22) 2px,transparent 2px, transparent 10px,rgb(39,35,22) 10px, rgb(39,35,22) 11px,transparent 11px, transparent 21px),repeating-linear-gradient(45deg, rgb(49,46,33) 0px, rgb(49,46,33) 4px,transparent 4px, transparent 8px),linear-gradient(90deg, rgb(39,35,22),rgb(39,35,22));;
  color: vars.$text-color;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,h2,h3,h4{
  color: vars.$title-color;
  font-weight: vars.$font-semi-bold;
}

ul{
  list-style: none;
}

a{
  text-decoration: none;
}

img{
  max-width: 100%;
  height: auto;
}

/* ============ CSS Classes ============*/
.section{
  padding: 2rem 0 4rem;
}

.section__title{
  font-size: vars.$h1-font-size;
  margin-bottom: vars.$m-0-75;
}

.section__subtitle{
    display: block;
    font-size: vars.$small-font-size;
    margin-bottom: vars.$m-3;
}

.section__title,
.section__subtitle{
  text-align: center;
}

.grid{
  display: grid;
  gap: 1.5rem;
}

.container{
  max-width: 768px;
  margin-left: vars.$m-1-5;
  margin-right: vars.$m-1-5;
}

/* ===== Buttons ===== */
.button{
  display: inline-block;
  background-color: vars.$primary-color;
  color: #fff;
  padding: 1rem;
  border-radius: .5rem;
  font-weight: vars.$font-medium;
  &:hover{
    background-color: vars.$primary-color-alt;
  }
}

.button__icon{
  font-size: 1.25rem;
  margin-left: vars.$m-0-5;
  transition: .3s;
}

.button--flex{
  display: inline-flex;
  align-items: center;
}


